@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css); 

/*-- scss:defaults --*/

$body-bg: #fff;
$body-color: #414042;
$link-color: #3124DC;
$code-color: #0072BC;
$code-block-border-color: #0072BC;

$presentation-heading-color: #0072BC;
$presentation-font-size-root: 30px;

$font-family-sans-serif: "Noto Sans KR";

$presentation-slide-text-align: left;

$code-block-font-size: 1em;

h1 {
  text-align: center;
}

/*-- scss:rules --*/


.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  padding-left: 0.5em;
}
